.page {
  height: 100%;
}

.container {
  max-width: 870px;
  margin-left: 90px;
  margin-right: 12px;
}

.row {
  margin-bottom: 42px;
  border-bottom: 1px solid #222;
  padding-bottom: 42px;
}

.primary-container {
  float: left;
  max-width: 586px;
  margin-left: 14px;
  p {
    margin-bottom: 2.1rem;
  }
}
.sub-container {
  width: 260px;
  float: left;
}

.header {
  width: 100%;
  background: $background;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
}


.navigation {

  border-right: 1px solid #222;

  &__item {
    float: left;
  }

  &--title {
    margin-right: 42px;
  }

}


.index-section {
  margin-bottom: 24px;
  padding-bottom: 24px;
  h3 {
    margin-bottom: 12px;
  }
}



.index-projects__items {
  margin-bottom: 12px;
}
.index-projects__item {
  float: left;
  margin-right: 12px;

  &:last-of-type {
    margin-right: 0;
  }
}




.main-content {
  min-height: 100%;
  margin-bottom: -148px;
  padding-top: 24px;
  padding-bottom: 24px;

  font-size: 1.4rem;

  &:after {
    content: "";
    display: block;
  }
}













.footer, .main-content:after {
  height: 148px;
}



.footer {

  background: $background;
  border-top: 1px solid #222;

  padding: 24px 0px;
  font-size: 12px;

  &__credits {
    float: left;
    margin-right: 21px;
  }



.footer-addresses__items {
  margin-right: 5px;
  color: #444;
}

.footer-addresses__links {
  margin-right: 5px;
}
}







.addresses {
  float: right;

  &__item {
    float: left;
  }
}


