.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

.italic {
  font-style: italic;
}

.sticky {
  position: fixed;
  top: 24px;
}