

<div class="row bottom-border-blue clearfix">


  <h2 class="page-title" style="float: left;">Contact</h2>



  <div class="page-descriptor" style="margin-left: 274px;">
    <p>Based in Los Angeles. Want to work with me? Send me a message and I'll respond within 24 hours. Or if you just want to say hello, that's fine too.</p>
  </div>

</div>


