---
title: Index | Ozy Wu-Li - Web Interface Designer and Developer
---


<div class="banner bottom-border-blue">
  <h2 class="banner__title">Hybrid Web Developer and Designer</h2>
  <p>Hello there, my name is <a href="vita.html" class="ozy">Ozy</a>. I design and develop <a href="portfolio.html">elegant and engaging interfaces for the web</a>. I also have experience in graphic design, photography, and data visualization.</p>
  <p>Let's <a href="contact.html">work together</a>.</p>
</div>


<div class="index-projects index-section row">
  <h3 class="h3">Featured Projects</h3>


  <div class="index-projects__items clearfix">
    <div class="index-projects__item">
      <img src="http://placehold.it/282x200" alt="">
    </div>
    <div class="index-projects__item">
      <img src="http://placehold.it/282x200" alt="">
    </div>
    <div class="index-projects__item">
      <img src="http://placehold.it/282x200" alt="">
    </div>
  </div>

  <a href="portfolio.html" class="see-portfolio cut-corner">see more</a>

</div>

<!-- <div class="index-resources index-section row">
  <h3 class="h3">Helpful Resources</h3>
</div>
 -->
<div class="index-contact index-section row">
  <h3 class="h3">Contact Me</h3>
</div>


