---
title: Portfolio | Ozy Wu-Li - Web Interface Designer and Developer
---

<div class="row bottom-border-blue clearfix">

<div class="sub-container">
  <h2 class="page-title">Portfolio</h2>
</div>

<div class="primary-container">
  <p class="page-descriptor">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto inventore, voluptatibus quod necessitatibus, atque similique suscipit quia odio. Voluptates a omnis porro, labore ut esse molestiae hic excepturi dolor ea?</p>
</div>

</div>



<div class="sub-container">
<!-- <ul class="portfolio-filter-options js-portfolio-filter-selectors">
  <li class="portfolio-filter-options__item"><a href="#" class=" js-portfolio-filter-selector sub-container-link sub-container-link--portfolio" data-filter="portfolio-list__item--clients">Clients</a></li>

</ul> -->

<ul class="portfolio-menu-options">
  <li><a href="#" class="portfolio-menu-option sub-container-link sub-container-link--portfolio js-isotope-menu" data-filter=".all">All</a></li>
  <li><a href="#" class="portfolio-menu-option sub-container-link sub-container-link--portfolio js-isotope-menu" data-filter=".clients">Clients</a></li>
  <li><a href="#" class="portfolio-menu-option sub-container-link sub-container-link--portfolio js-isotope-menu" data-filter=".tumblr">Tumblr</a></li>
  <li><a href="#" class="portfolio-menu-option sub-container-link sub-container-link--portfolio js-isotope-menu" data-filter=".wordpress">Wordpress</a></li>
  <li><a href="#" class="portfolio-menu-option sub-container-link sub-container-link--portfolio js-isotope-menu" data-filter=".graphics">Graphics</a></li>
  <li><a href="#" class="portfolio-menu-option sub-container-link sub-container-link--portfolio js-isotope-menu" data-filter=".photos">Photos</a></li>
  <li><a href="#" class="portfolio-menu-option sub-container-link sub-container-link--portfolio js-isotope-menu" data-filter=".data">Data</a></li>
</ul>

</div>

<div class="primary-container">

<ul class="portfolio-list js-isotope-list">
  <li class="all clients"><a href="#" class="portfolio-list__link"><img src="http://placehold.it/586x146" alt=""></a></li>
  <li class="all personal"><a href="#" class="portfolio-list__link"><img src="http://placehold.it/586x146" alt=""></a></li>
  <li class="all tumblr"><a href="#" class="portfolio-list__link"><img src="http://placehold.it/586x146" alt=""></a></li>
  <li class="all wordpress"><a href="#" class="portfolio-list__link"><img src="http://placehold.it/586x146" alt=""></a></li>
  <li class="all graphics"><a href="#" class="portfolio-list__link"><img src="http://placehold.it/586x146" alt=""></a></li>
  <li class="all photos"><a href="#" class="portfolio-list__link"><img src="http://placehold.it/586x146" alt=""></a></li>
  <li class="all data"><a href="#" class="portfolio-list__link"><img src="http://placehold.it/586x146" alt=""></a></li>
  <li class="all clients"><a href="#" class="portfolio-list__link"><img src="http://placehold.it/586x146" alt=""></a></li>
</ul>

</div>
