<div class="row bottom-border-blue clearfix">

  <div class="sub-container">
    <h2 class="page-title">Resources</h2>
  </div>

  <div class="primary-container">
    <p class="page-descriptor">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem impedit saepe non, odio, ipsam ad perferendis commodi dicta deserunt adipisci nemo dolorem nostrum tempora. Aliquid asperiores deserunt veritatis labore facere!</p>
  </div>

</div>


<div class="table-of-content sub-container js-stickySideMenu">


<h2 class="table-of-content__title">Table of Content</h2>

<h3 class="list-title--toc">Web Development</h3>
<ul class="table-of-content__list">
  <li class="table-of-content__list-item"><a href="" class="$toc-selector sub-container-link sub-container-link--resources">HTML/Markup</a></li>
  <li class="table-of-content__list-item"><a href="" class="$toc-selector sub-container-link sub-container-link--resources">CSS/Patterns</a></li>
  <li class="table-of-content__list-item"><a href="" class="$toc-selector sub-container-link sub-container-link--resources">Javascript</a></li>
  <li class="table-of-content__list-item"><a href="" class="$toc-selector sub-container-link sub-container-link--resources">Jquery/Plugins</a></li>
  <li class="table-of-content__list-item"><a href="" class="$toc-selector sub-container-link sub-container-link--resources">Angular</a></li>
  <li class="table-of-content__list-item"><a href="" class="$toc-selector sub-container-link sub-container-link--resources">D3/Data</a></li>
  <li class="table-of-content__list-item"><a href="" class="$toc-selector sub-container-link sub-container-link--resources">Tumblr</a></li>
  <li class="table-of-content__list-item"><a href="" class="$toc-selector sub-container-link sub-container-link--resources">PHP/Wordpress</a></li>
  <li class="table-of-content__list-item"><a href="" class="$toc-selector sub-container-link sub-container-link--resources">Ruby/Rails</a></li>
  <li class="table-of-content__list-item"><a href="" class="$toc-selector sub-container-link sub-container-link--resources">Git</a></li>
  <li class="table-of-content__list-item"><a href="" class="$toc-selector sub-container-link sub-container-link--resources">Dev Tools</a></li>
</ul>


<h3 class="list-title--toc">Web Design</h3>
<ul class="table-of-content__list">
  <li class="table-of-content__list-item"><a href="" class="$toc-selector sub-container-link sub-container-link--resources">Typography</a></li>
  <li class="table-of-content__list-item"><a href="" class="$toc-selector sub-container-link sub-container-link--resources">Color</a></li>
  <li class="table-of-content__list-item"><a href="" class="$toc-selector sub-container-link sub-container-link--resources">Icons</a></li>
  <li class="table-of-content__list-item"><a href="" class="$toc-selector sub-container-link sub-container-link--resources">Layout</a></li>
  <li class="table-of-content__list-item"><a href="" class="$toc-selector sub-container-link sub-container-link--resources">Adobe</a></li>
  <li class="table-of-content__list-item"><a href="" class="$toc-selector sub-container-link sub-container-link--resources">Design Tool</a></li>
</ul>

</div>



<div class="primary-container">

<h3 class="list-title--primary">Web Development</h3>
<ul class="content-list">
  <li class="content-list__item">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis odio id rem exercitationem quam at, soluta ipsum itaque pariatur nostrum, eius asperiores delectus ullam reiciendis. Dolores quo distinctio enim numquam.</p>
  </li>
</ul>


</div>