<div class="row bottom-border-blue">
  <h2 class="page-title" style="font-size: 4.8rem">Vita</h2>
  
  <div class="page-descriptor" style="font-size: 1.4rem; width: 586px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto dignissimos assumenda fugit sint, voluptas id. At quas natus pariatur sit aut voluptatum libero consectetur eos delectus deserunt, corporis officia.</div>
</div>


<div class="row clearfix">
  <div class="sub-container">&nbsp;</div>
  <div class="primary-container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium inventore, nisi itaque cum. Deserunt accusamus recusandae, minima beatae reprehenderit iste sed impedit dolor, consequatur ullam in veritatis commodi facere voluptates.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium inventore, nisi itaque cum. Deserunt accusamus recusandae, minima beatae reprehenderit iste sed impedit dolor, consequatur ullam in veritatis commodi facere voluptates.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium inventore, nisi itaque cum. Deserunt accusamus recusandae, minima beatae reprehenderit iste sed impedit dolor, consequatur ullam in veritatis commodi facere voluptates.</p>    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium inventore, nisi itaque cum. Deserunt accusamus recusandae, minima beatae reprehenderit iste sed impedit dolor, consequatur ullam in veritatis commodi facere voluptates.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium inventore, nisi itaque cum. Deserunt accusamus recusandae, minima beatae reprehenderit iste sed impedit dolor, consequatur ullam in veritatis commodi facere voluptates.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium inventore, nisi itaque cum. Deserunt accusamus recusandae, minima beatae reprehenderit iste sed impedit dolor, consequatur ullam in veritatis commodi facere voluptates.</p>    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium inventore, nisi itaque cum. Deserunt accusamus recusandae, minima beatae reprehenderit iste sed impedit dolor, consequatur ullam in veritatis commodi facere voluptates.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium inventore, nisi itaque cum. Deserunt accusamus recusandae, minima beatae reprehenderit iste sed impedit dolor, consequatur ullam in veritatis commodi facere voluptates.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium inventore, nisi itaque cum. Deserunt accusamus recusandae, minima beatae reprehenderit iste sed impedit dolor, consequatur ullam in veritatis commodi facere voluptates.</p>
  </div>
</div>